<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Student Confirmation</title>

  <link rel="stylesheet"
        th:href="@{/css/demo.css }" />
</head>
<body>

<h3>Student Confirmaton</h3>

The Student is confirmed : <span th:text="${student.firstName} + ' ' + ${student.lastName}" />

<br><br>

Country : <span th:text="${student.country}" />


<br><br>

Favorite Language : <span th:text="${student.favoriteLanguage}" />

<br><br>

<!--Favorite OS: <span th:text="${student.favoriteSystem}" /> -->
Favorite OS:
<ul>
  <li th:each="tempSystem : ${student.favoriteSystem}" th:text="${tempSystem}"></li>
</ul>

</body>
</html>